@import"reset.css";
.wrraper {
	width: 833px;
	margin: 0 auto;
}

h2 {
   font-family: Cuprum;
   font-size: 36px;
   border-bottom: solid 3px #ff6400;
}
h3{
	font-family: 'Cuprum';
	font-size: 24px;
}
p {
	font-family: 'Montserrat';
	font-size: 14px;
	line-height: 21px;
}
header {
	font-family: 'cuprum';
	height: 634px;
	background: url(../img/header__bg.png) no-repeat  ;
	background-size: contain;
}
header nav ul li{
	float: left;
	margin-top: 41px;
}
header nav ul li a {
	text-decoration: none;
	color: #959595;
	padding-left: 21px;
	font-size: 18px;
}
header nav ul li a:hover {
	color: #a21d21;
	transition: 1s ease;
}
.home {
	float: left;
	margin: 24px 112px 181px 0;
}
.header__challange {
	clear: both;
	margin-left: 18px;
}
.header__challange p {
	font-size: 20px;
	color: #2f2f2f;
}
.header__challange h1 {
	font-size: 48px;
	color: #959595;
}
.header__challange a {
	color: #a21d21;
	text-decoration: none;
}
.header__challange a:hover {
	text-decoration: underline;
}
.cursor {
	width: 146px;
	margin: 120px 0 0 109px;
	text-align: center;
	font-size: 13px;
	color: #9b9b9b;
}
.cursor p {
	margin-bottom: 9px;
}
.main__center h2 {
	color: #5a5a5a;
	width: 478px;
	border-bottom: solid 3px #ff6400;;
}
.main__center p {
	color: #4a4a4a;
	margin: 44px 0 0 102px;
}
.main__left {
	float: left;
	margin: 0 90px 0 102px;
}
.main__right {
	float: right;
}
.main__right, .main__left {
	margin-top: 33px;
}
.main__left h3, .main__right h3{
	color: #5a5a5a;
}
.main__left p, .main__right p {
	color: #5a5a5a;
	font-weight: 300;
	margin-top: 13px;
}
.scrool {
	float: right;
	z-index: 2;
}
.first__scrool {
	position: relative;
	left: 0;
	right: 0;
	top: 70px;
	bottom: 0;
}
.job {
	box-sizing: border-box;
	background-color: #efefef;
	padding: 89px 0 139px 0;
	clear: both;
	clip-path: polygon(100% 0, 100% 100%, 0 85%, 0 15%);
	z-index: 1;
}
.job h2 {
   color: #4a4a4a;
   border-bottom: solid 3px #ff6400;
   width: 239px;
   margin: 144px 0 39px 0; 
}
.job h3 {
  color: #4a4a4a;
  margin-bottom: 7px;
}
.job p {
  font-weight: 300;
  line-height: 27px;
  color: #4a4a4a;
}
.job__subscribe ul li {
  margin-top: 33px;
}
.job__subscribe ul li:first-child {
  list-style-position: outside;
  background: url(../img/comet__2.png) no-repeat;
  background-position: 0% 10px;
}
.job__subscribe ul li:nth-child(2) {
  background: url(../img/Lunar.png) no-repeat;
}
.job__subscribe ul li:nth-child(3) {
  background: url(../img/Cosmonaut.png) no-repeat;
  background-position: 28px 0px;
}
.job__subscribe {
	margin: 0 0 85px 154px;
	
}
.job__subscribe ul li {
	padding-left: 111px;
}
.services {
	z-index: 1;
}
.second__scrool {
	position: relative;
	top: -82px;
	right: 0;
	bottom: 0;
	left: 0;
}
.stars {
	float: right;
	margin: -93px 230px 0 0;
}
.saturn {
	margin: -80px 0 0 281px;
	
}
.services__center h2 {
	width: 158px;
	margin: 14px 0 52px 0;
}
.commet {
	float: left;
	padding-top: 55px;
}
.services__left {
	float: left;
	margin: 26px 89px 0 0;
	overflow: hidden;
}
.services__left p {
	font-weight: 300;
	color: #5a5a5a;
}
.services__left h3 {
	color: #5a5a5a;
}
.services__right {
	float: right;
	margin: 26px 0 0 0;
}
.services__right p {
	font-weight: 300;
	color: #5a5a5a;
}
.services__right h3 {
	color: #5a5a5a;
}
.third__scrool {
	position: relative;
	top: 120px;
	right: 0;
	bottom: 0;
	left: 0;
}
.products {
	clear: both;
	margin-top: 167px;
	overflow: hidden;
	background-color: #4a4a4a;
	clip-path: polygon(100% 15%, 100% 85%, 0 100%, 0 0);
}
.products h2 {
	margin-top: 111px;
	margin-bottom: 64px;
	width: 121px;
	color: #e3e3e3;
}
.products h3 {
	color: #e3e3e3;
	margin-top: 47px; 
}
.products p {
	margin-top: 2px;
	color: #e3e3e3;
}
.products__left_list {
	float: left;
	margin-bottom: 105px;
}
.products__left_list ul li:nth-child(2){
	background: url(../img/atdent__logo.png) no-repeat;
}
.products__left_list ul li {
	padding-left: 98px;
}
.products__right_list {
	float: right;
}

.products__right_list ul li {
	padding-left: 80px;
}
.products__right_list ul li:first-child {
	background: url(../img/Spott__Logo.png) no-repeat;
}
.products__right_list ul li:nth-child(2) {
	background: url(../img/YSH__logo.png) no-repeat;
}
.products__right_list ul li:last-child {
	margin-top: 56px;
}
.scrool__fourth {
	position: relative;
	top: -214px;
	right: 0;
	bottom: 0;
	left: 0;
}
.staff {
	margin-top: 96px;
}
.staff h2 {
	width: 77px;
	color: #5a5a5a;
}
.staff h3 {
	margin: 65px 0 0 100px;
	color: #5a5a5a;
}
.edgar {
	float: left;
	margin: 16px 81px 0 100px;
}
.lusine {
	float: right;
	margin-top: 16px;
	margin-right: 150px;
}
.staff span {
	font-weight: bold;
}
.staff p {
	color: #5a5a5a;
}
.flag {
	clear: both;
	margin-top: 323px;
	margin-left: 70px;
}
.flag ul li {
	background: url(../img/flag.png) no-repeat;
	padding-left: 30px;
	color: #5a5a5a;
}
.scrool__fifth {
	position: relative;
	top: 66px;
	right: 0;
	bottom: 0;
	left: 0;
}
footer {
	padding-top: 187px;
	margin-top: 57px;
	background: #4a4a4a;
	height: 802px;
	clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
}
footer h2 {
	color: #ffffff;
	width: 168px;
}





















































